body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 750px;
  margin: auto;
}

.question {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 6px 0;
}

button {
  padding: 12px 22px;
  font-size: 16px;
  cursor: pointer;
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  animation: fadeIn 0.6s ease;
}

.progress {
  width: 100%;
  height: 12px;
  background: #ddd;
  border-radius: 10px;
  margin-top: 15px;
  overflow: hidden;
}

#bar {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg,#6a11cb,#2575fc);
  transition: width 5s linear;
}

@keyframes fadeIn {
  from {opacity:0; transform:scale(0.9);}
  to {opacity:1; transform:scale(1);}
}
